/*---------------------------------------------------------------------------------

 Theme Name:   Sallisford
 Theme URI:    
 Description:  Divi child theme for Sallisford Coaching
 Author:       Ashley Tan
 Author URI:   
 Template:     Divi
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html

------------------------------ ADDITIONAL CSS HERE ------------------------------*/

/*---------------------------------------------------------
							HEADER
---------------------------------------------------------*/
.et_pb_fullwidth_header_subhead {
	padding-bottom: 50px;
}

/*---------------------------------------------------------
							HOME 
---------------------------------------------------------*/
.et_pb_section {
    padding: 0px;
}

@media (min-width: 981px) {
	.et_pb_text.et_pb_module.et_pb_bg_layout_light.et_pb_text_align_left.et_pb_text_1,
	.et_pb_text.et_pb_module.et_pb_bg_layout_light.et_pb_text_align_left.et_pb_text_2, 
	.et_pb_text.et_pb_module.et_pb_bg_layout_light.et_pb_text_align_left.et_pb_text_3 {
	    height: 600px!important;
	}
}
.et_pb_text_inner {
    padding: 30px!important;
} 

